/*-------------- about-service -----------------*/
.about-service{
	padding: 175px 0 110px;
	overflow: hidden;

	&__top{
		display: flex;
		align-items: center;
	}

	&__img{
		width: 69%;
		position: relative;
		text-align: right;
		transform: translateX(-200%);
		transition: transform 0.9s ease 0s;

		img{
			border-radius: 0 184px 184px 0;
			position: relative;
		}
	}

	&__img::before{
		content: '';
		display: block;
		height: 100%;
		width: 5000px;
		background: #f2f2f2;
		border-radius: 0 184px 184px 0;
		position: absolute;
		top: 0;
		right: 0;
	}

	&__info{
		width: 41%;
		margin-left: -19%;
		position: relative;
		z-index: 2;
		transform: translateX(200%);
		transition: transform 0.7s ease 0s;
	}

	&__title{
		@include font(normal, normal, rem(40px), 1, $color-green);
		text-transform: uppercase;
	}

	&__title-accent{font-weight: bold;}

	&__text{
		@include font(normal, 300, rem(21px), 1, $color-text);
		margin-top: 4px;
	}

	&__content{
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin-top: 70px;
	}

	&__desc{padding-right: 30px;}

	&__top.animated &__img,
	&__top.animated &__info{
		transform: translateX(0);
	}
}

@media (max-width: 991px) {
	.about-service{
		padding-top: 100px;
		&__title{font-size: rem(32px);}
	}
}

@media (max-width: 767px) {
	.about-service{
		padding-top: 53px;
		padding-bottom: 70px;

		&__top{
			display: flex;
			flex-direction: column-reverse;
		}

		&__img,
		&__info{
			width: 100%;
		}

		&__info{
			margin-left: 0;
			margin-bottom: 72px;
		}

		&__title{
			font-size: rem(27px);
			line-height: 1.1;
		}

		&__text{
			letter-spacing: 0.3px;
			margin-top: 27px;
		}

		&__content{
			display: block;
			margin-top: 62px;

			.btn{
				display: table;
				margin: 56px auto 0;
			}
		}

		&__desc{padding-right: 0;}
	}
}