/*-------------- about-procedures -----------------*/
.about-procedures{
	background: #fff;
	margin-left: -30px;
	margin-right: -30px;
	padding: 74px 30px 64px;
	position: relative;

	&::after{
		content: '';
		display: inline-block;
		width: 45%;
		height: 1px;
		background: $color-brown;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	&__info{margin-bottom: 65px;}

	&__title{
		max-width: 750px;
		@include font(normal, 300, rem(35px), 1.15, $color-green);
		text-transform: uppercase;
		letter-spacing: 0.3px;
		margin-bottom: 12px;
	}

	&__text{
		@include font(normal, 600, rem(24px), 1, #acafb1);
		letter-spacing: 0.2px;
	}
}

.slider-procedure{
	padding-bottom: 90px;

	&__content{
		background: #fff;
		padding: 25px 30px;
		margin-top: -80px;
		margin-left: 22%;
		position: relative;
	}

	&__title{
		@include font(normal, 300, rem(36px), 1, $color-brown);
		text-transform: uppercase;
		position: relative;
		margin-bottom: 10px;
		padding-bottom: 25px;
		margin-bottom: 30px;
		position: relative;
	}

	&__title::after{
		content: '';
		display: inline-block;
		width: 87px;
		height: 1px;
		background: $color-brown;
		position: absolute;
		bottom: 0;
		left: 0;
	}

	&__text{
		@include font(normal, normal, rem(16px), 1.125, $color-text);
		letter-spacing: 0.2px;

		p{margin-bottom: 18px;}
		p:last-child{margin-bottom: 0;}
	}

	&__more{
		@include font(normal, bold, rem(18px), 1.2, $color-brown-light);
		margin-top: 10px;
	}
}

.video-block{
	display: block;
	width: 100%;
	height: 483px;
	border: 9px solid $color-gold;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;

	&__play{
		display: inline-block;
		vertical-align: middle;
		width: 70px;
		height: 70px;
		border-radius: 50%;
		border: 7px solid #fff;
		text-decoration: none;
		transition: all 0.3s ease 0s;
		position: absolute;
		@include top-center;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	&__play::after{
		content: '';
		display: inline-block;
		vertical-align: top;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 15px 0 15px 20px;
		border-color: transparent transparent transparent #ffffff;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin-left: 2px;
	}

	&__play:hover{transform: scale(1.1) translateY(-50%);}
}