/*-------------- contacts -----------------*/
.contacts-wrap{
	padding: 94px 0;
	margin-top: 30px;
	margin-bottom: 157px;

	h2,
	.h2{
		margin-bottom: 74px;
		text-align: center;
	}

	.map{
		margin-top: 87px;
		margin-bottom: -190px;
	}
}

.contacts{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 29px 0;
	border-top: 1px solid $color-green;
	border-bottom: 1px solid $color-green;

	&__item{
		display: inline-flex;
		align-items: center;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	&__item:not(:last-child){margin-right: 20px;}

	&__icon{
		margin-right: 10px;

		.icon{fill: $color-green;}
	}

	&__text{
		max-width: calc(100% - 30px);
		@include font(normal, 500, rem(18px), 1.2, $color-green);
		letter-spacing: 0.2px;
		white-space: nowrap;

		a{color: $color-green;}
	}
}

.map{
	width: 100%;
	height: 440px;

	[class*="ymaps-2"][class*="-ground-pane"] {
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
		-webkit-filter: grayscale(100%);
	}
}

@media (max-width: 991px) {
	.contacts{
		margin-left: -15px;
		margin-right: -15px;

		&__item{
			width: calc(50% - 30px);
			margin-left: 15px;
			margin-right: 15px;
		}

		&__item:not(:last-child){margin-right: 15px;}
	}
}

@media (max-width: 767px) {
	.contacts-wrap{
		padding: 42px 0;

		.h2, h2{margin-bottom: 40px;}
		.map{margin-top: 52px;}
	}

	.contacts{
		margin-left: 0;
		margin-right: 0;
		padding: 25px 0;

		&__item{
			width: 100%;
			margin: 15px 0;
		}

		&__item:not(:last-child){margin-right: 0;}
		&__icon{width: 27px;}
		&__text{width: calc(100% - 37px);}
	}
}