/*-------------- desc-service -----------------*/
.desc-service{
	background-image: url(/assets/img/bg-girl.png);
	background-repeat: no-repeat;
	background-position: calc(50% + 265px) 100%;
	padding: 95px 0 50px;

	&__title{
		@include font(normal, normal, rem(40px), 1, $color-brown);
		letter-spacing: 0.2px;
		margin-bottom: 84px;
	}

	&__text{
		@include font(normal, 300, rem(16px), 1.3, $color-text);
		letter-spacing: 0.1px;
		column-count: 2;
		column-gap: 56px;
	}

	.desc-service-adv{margin-top: 90px;}
}

.desc-service-adv{
	&__content{
		display: inline-flex;
		align-items: center;
		flex-wrap: wrap;
		background: #fff;
		padding: 18px 10px;
		position: relative;
	}

	&__content::before{
		content: '';
		display: inline-block;
		vertical-align: top;
		width: 3000px;
		height: 146px;
		background: url(/assets/img/grey-light-arrow.svg) repeat-x right center;
		position: absolute;
		@include top-center;
		right: 100%;
		z-index: 2;
	}

	&__item{
		display: inline-flex;
		align-items: center;
		padding: 10px;
	}

	&__icon{
		max-width: 66px;
		margin-right: 23px;
	}

	&__text{
		max-width: 170px;
		@include font(normal, bold, rem(14px), 1.3, $color-brown-light);
		text-transform: uppercase;
	}
}

@media (max-width: 1389px) {
	.desc-service-adv{
		&__text{max-width: 130px;}
	}
}

@media (max-width: 1189px) {
	.desc-service{background-position: calc(50% + 55px) 100%;}

	.desc-service-adv{
		&__item{width: 50%;}
		&__icon{width: 66px;}
		&__text{max-width: calc(100% - 90px);}
		&__content::before{display: none;}
	}
}

@media (max-width: 767px) {
	.desc-service{
		padding-top: 63px;
		padding-bottom: 20px;
		background-image: none;

		&__title{
			font-size: rem(30px);
			line-height: 1.06;
			margin-bottom: 53px;
		}

		&__text{column-count: 1;}
		&__bg{text-align: center;}

		.desc-service-adv{margin-top: -40px;}
	}

	.desc-service-adv{
		&__item{
			width: 100%;
			position: relative;
		}

		&__item:not(:last-child){
			padding-bottom: 26px;
			margin-bottom: 12px;
		}

		&__item:not(:last-child)::after{
			content: '';
			display: inline-block;
			width: calc(100% - 90px);
			height: 1px;
			background: $color-brown;
			position: absolute;
			bottom: 0;
			right: 0;
		}

		&__content{padding: 37px 10px;}
	}
}