/*-------------- faq -----------------*/
.faq-wrap{
	padding: 55px 0;
	margin-top: 95px;
	margin-bottom: 150px;

	h2,
	.h2{
		text-align: center;
		font-weight: 600;
		margin-bottom: 48px;
	}

	.unwrap-block{
		margin-left: -30px;
		margin-right: -30px;
	}

	.form-call{
		margin: 75px -30px -150px;
	}
}