/*-------------- faq -----------------*/
.faq-wrap{
	padding: 55px 0;
	margin-top: 95px;
	margin-bottom: 150px;

	h2,
	.h2{
		text-align: center;
		font-weight: 600;
		margin-bottom: 48px;
	}

	.unwrap-block{
		margin-left: -30px;
		margin-right: -30px;
	}

	.form-call{
		margin: 75px -30px -150px;
	}
}

@media (max-width: 1389px) {
	.faq-wrap{
		.unwrap-block,
		.form-call{
			margin-left: 0;
			margin-right: 0;
		}
	}
}

@media (max-width: 991px) {
	.form-call{
		&__content{width: 55%;}

		&__bottom{
			flex-wrap: wrap;
			margin-top: 30px;
		}

		&__polit{
			width: 100%;
			max-width: 100%;
			margin-right: 0;
			margin-bottom: 28px;
		}
	}
}

@media (max-width: 767px) {
	.faq-wrap{
		margin-top: 45px;
		padding: 45px 0;

		h2,
		.h2{
			font-size: rem(24px);
			line-height: 1.25;
			margin-bottom: 37px;
		}

		.form-call{
			margin-top: 37px;
		}
	}

	.form-call{
		display: block;
		background-position: calc(100% + 30px) 100px;
		padding-top: 34px;
		padding-bottom: 36px;

		&__info,
		&__content{
			width: 100%;
		}

		&__info{margin-bottom: 16px;}

		&__title{
			font-size: rem(27px);
			line-height: 1.1;
		}

		&__group &__field{width: calc(100% - 14px);}

		textarea{height: 118px;}

		&__btn{
			width: 100%;
			text-align: center;
		}
	}
}