/*-------------- gallery-info -----------------*/
.gallery-info-wrap{margin: 63px 0 30px;}

.gallery-info{
	&__item{display: none;}

	&__item.active{
		display: flex;
		justify-content: space-between;
	}

	&__img{
		width: 664px;
		height: 480px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	&__content{
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: calc(100% - 778px);
	}

	&__title{
		@include font(normal, 600, rem(20px), 1.2, #aeb1b3);
		margin-bottom: 18px;
	}

	&__text{
		max-width: 280px;
		@include font(normal, normal, rem(16px), 1.125, #aeb1b3);
	}
}

.gallery-info-thumb{
	display: flex;
	flex-wrap: wrap;
	margin: 24px -15px;

	&__item{
		width: calc(20% - 30px);
		margin: 0 15px 30px;
		cursor: pointer;
		transition: all 0.3s ease 0s;
	}

	&__img-wrap,
	&__more-content{
		overflow: hidden;
		position: relative;
		width: 100%;
		padding-bottom: 100%;
	}

	&__img,
	&__more-text{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__img{
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	&__item:hover,
	&__item.active{
		opacity: 0.6;
	}

	&__more{
		width: calc(20% - 30px);
		margin: 0 15px 30px;
		border: 1px solid #e3e6db;
		@include font(normal, normal, rem(23px), 1.3, $color-brown);
		text-align: center;
		text-transform: uppercase;
		transition: all 0.3s ease 0s;
		cursor: pointer;
	}

	&__more-text{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		vertical-align: top;
	}

	&__more:hover{
		background: $color-brown;
		border-color: $color-brown;
		color: #fff;
	}
}

@media (max-width: 1389px) {
	.gallery-info{
		&__content{width: calc(100% - 694px);}
	}
}

@media (max-width: 1189px) {
	.gallery-info{
		&__img{
			width: 498px;
			height: 360px;
		}

		&__content{width: calc(100% - 528px);}
	}
}

@media (max-width: 991px) {
	.gallery-info{
		&__img{
			width: 400px;
			height: 289px;
		}

		&__content{width: calc(100% - 430px);}
	}

	.gallery-info-thumb{
		&__more{font-size: rem(18px);}
	}
}

@media (max-width: 767px) {
	.gallery-info{
		&__item.active{display: block;}

		&__img{
			width: calc(100% + 15px);
			height: 430px;
		}

		&__content{
			width: 100%;
			margin-top: 20px;
		}
	}

	.gallery-info-thumb{
		margin-left: -6px;
		margin-right: -6px;

		&__item,
		&__more{
			width: calc(33.33% - 12px);
			margin: 0 6px 12px;
		}

		&__more{
			font-size: rem(10px);
			line-height: 1.2;
		}
	}
}