/*-------------- hamburger -----------------*/
.ic-hamburger-wrap{
	display: inline-flex;
	align-items: center;

	.ic-hamburger{margin-right: 10px;}
}

.ic-hamburger {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 30px;
	height: 16px;
	font-size: 0;
	text-indent: -9999px;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	border: none;
	cursor: pointer;
	transition: background 0.3s;

	&:focus{outline: none;}
	
	span {
		display: block;
		width: calc(100% - 7px);
		height: 2px;
		position: absolute;
		top: 5px;
		left: 0;
		right: 0px;
		background: $color-green;
	}
	
	 span::before,
	 span::after {
		content: "";
		position: absolute;
		display: block;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: $color-green;
	}
	
	 span::before {
		width: calc(100% + 7px);
		top: -5px;
	}
	
	span::after {
		width: calc(100% - 7px);
		bottom: -5px;
	}
	
	span::before {transition: top 0.3s ease 0.3s, transform 0.3s ease 0s;}
	span::after {transition: bottom 0.3s ease 0.3s, transform 0.3s ease 0s;}
	
	&.active span {
		background: none;
	}
	
	&.active span::before {
		top: 0;
		transform: rotate(45deg);
	}
	
	&.active span::after {
		bottom: 0;
		transform: rotate(-45deg);
	}
	
	&.active span::before {transition: top 0.3s ease 0s, transform 0.3s ease 0.3s;}
	&.active span::after {transition: bottom 0.3s ease 0s, transform 0.3s ease 0.3s;}
	
	&:hover span,
	&:hover span::before,
	&:hover span::after{
		background-color: #818181;
	}
	
	&.active:hover span{
		background-color: transparent;
	}
}

.ic-hamburger-label{
	@include font(normal, 600, rem(20px), 1.2, $color-green);
	text-transform: uppercase;
}