/*-------------- laser-system -----------------*/
.laser-system{
	padding: 84px 0;

	&__content{
		display: flex;
		justify-content: space-between;
	}

	&__autor-wrap{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 232px;
	}

	&__autor{margin-bottom: 20px;}

	&__img{
		max-width: 465px;
	}

	&__info{
		max-width: calc(100% - 865px);
		margin: 0 30px;
	}

	&__title{
		@include font(normal, 300, rem(24px), 1, $color-text);
		margin-bottom: 23px;
	}

	&__text{
		@include font(normal, 300, rem(16px), 1.3, $color-text);
		letter-spacing: 0.1px;

		p:last-child{margin-bottom: 0;}
	}

	&__desc{
		@include font(normal, 300, rem(16px), 1.3, $color-text);
		letter-spacing: 0.1px;
		margin-top: 15px;
		padding-left: 30px;

		p:last-child{margin-bottom: 0;}
	}

	&__accent{
		font-weight: 600;
		font-style: italic;
	}
}

@media (max-width: 1389px) {
	.laser-system{
		&__img{max-width: 365px;}
		&__info{max-width: calc(100% - 765px);}
	}
}

@media (max-width: 1239px) {
	.laser-system{
		&__content{flex-wrap: wrap;}
		&__img{max-width: 500px;}

		&__info{
			order: 3;
			width: 100%;
			max-width: 100%;
			margin-top: 30px;
		}
	}
}

@media (max-width: 991px) {
	.laser-system{
		&__img{max-width: calc(100% - 252px);}
	}
}

@media (max-width: 767px) {
	.laser-system{
		padding: 37px 0;

		&__content{
			display: flex;
			flex-direction: column-reverse;
		}

		&__img,
		&__info,
		&__autor-wrap{
			width: 100%;
			max-width: 100%;
		}

		&__info &__img{
			margin: 45px 0 36px -15px;
			width: calc(100% + 15px);
			max-width: calc(100% + 15px);
		}

		&__info{margin: 0 0 30px;}
		&__title{margin-bottom: 32px;}
		
		&__text{
			font-size: rem(18px);
			line-height: 1.16;
			padding-left: 26px;
		}

		&__desc{
			font-size: rem(18px);
			line-height: 1.16;
		}

		&__autor-wrap{text-align: center;}

		&__btn{
			display: table;
			margin: 0 auto;
		}
	}
}