/*-------------- license -----------------*/
.license-wrap{
	margin-bottom: 100px;
	
	h2,
	.h2{
		margin-bottom: 40px;
		text-align: center;
	}
}

.license-list{
	background: url(/assets/img/pattern.jpg) repeat-x center;

	&__content{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__item{
		width: 260px;
		height: 353px;
		background: url(/assets/img/border.jpg) no-repeat center;
		background-size: contain;
		padding: 26px;
		position: relative;
		margin: 30px 50px;

		img{max-height: 100%;}
	}

	&__item::after{
		content: '';
		display: inline-block;
		vertical-align: top;
		width: 300px;
		height: 16px;
		background: url(/assets/img/glass.png) no-repeat top center;
		background-size: contain;
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
	}

	&__item.active{transform: scale(1.2);}

	&__link{
		cursor: url(/assets/img/search.svg) 20 20, auto;
	}
}

@media (max-width: 1389px) {
	.license-list{
		&__item{
			margin: 30px;
			width: 250px;
			height: 338px;
			padding: 23px;
		}
	}
}

@media (max-width: 1189px) {
	.license-list{
		&__item{
			width: 240px;
			height: 326px;
		}
	}
}

@media (max-width: 991px) {
	.license-wrap{margin-bottom: 80px;}

	.license-list{
		&__item{
			width: 160px;
			height: 218px;
			padding: 15px;
		}

		&__item::after{
			width: 183px;
			height: 10px;
		}
	}
}

@media (max-width: 767px) {
	.license-list{
		background: none;

		&__item{
			width: 76px;
			height: 103px;
			padding: 6px;
			margin: 30px 10px;
		}

		&__item::after{
			width: 90px;
			height: 5px;
		}

		&__item::before{
			content: '+';
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 25px;
			height: 25px;
			border-radius: 50%;
			border: 1px solid $color-green;
			@include font(normal, 300, rem(30px), 1, $color-green);
			position: absolute;
			bottom: -50px;
			left: 0;
			right: 0;
			margin: 0 auto;
			z-index: 2;
		}
	}
}