/*-------------- main-menu -----------------*/
.main-nav{
	height: 100vh;
	width: 100vw;
	text-align: center;
	position: fixed;
	top: -200%;
	left: 0;
	z-index: 1000;
	// background: #fff;
	transform: translate3d(0, 0, 0);
	// backface-visibility: hidden;
	overflow: hidden;

	&:before {
		content: "";
		background: #e3e6db;
		width: 100%;
		height: 0;
		padding-bottom: 100%;
		border-radius: 100%;
		transform: scale(0.04), translateY(999px);
		overflow: hidden;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		transition: all 0.6s ease 0s;
	}

	&__title,
	.header-social{display: none;}

	&__content{
		height: 100vh;
		overflow-y: auto;
		position: relative;
	}

	&__info{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		padding: 50px 0;
	}
	
	&__logo{
		margin-bottom: 63px;
		opacity: 0;
		transition: opacity 0.3s ease-out 0.6s;

		img{width: 150px;}
	}

	&__close{
		opacity: 0;
		position: absolute;
		top: 40px;
		right: 0;
		transition: opacity 0.3s ease-out 0.6s;
	}
}

.main-menu{
	&,
	&__item{
		@include reset-list;
		opacity: 0;
		transform: translate3d(0, 36px, 0);
	}

	&__item:not(:last-child){margin-bottom: 19px;}

	&__link{
		@include font(normal, normal, rem(21px), 1.2, $color-green);
		text-decoration: none;
	}

	&__link:hover{text-decoration: underline;}
}

body.open-menu{
	.main-nav{
		top: 0;

		&__logo,
		&__close{
			opacity: 1;
		}

		&:before {
			animation: menu-animation 0.8s ease-out forwards;
			// transform: scale(2);
			// height: 100%;
			// padding-bottom: 0;
			// border-radius: 0;
		}
	}

	.main-menu{opacity: 1;}
	.main-menu__item{
		opacity: 1;
		transform: translate3d(0, 0, 0);
		transition: transform 0.2s ease-out, opacity 0.2s ease-out;
		transition-delay: 0.6s
	}
	
	.header-content{
		transform: scale(0.95);
		transition: transform 0.2s 0.41s ease-out;
	}
}

@keyframes menu-animation {
	0% {
		opacity: 0;
		transform: scale(0.04) translateY(0);
	}
	40% {
		transform: scale(0.04) translateY(0);
		transition: ease-out;
	}
	40% {
		transform: scale(0.04) translateY(0);
	}
	60% {
		opacity: 1;
		transform: scale(0.02) translateY(0px);
	}
	61% {
		transform: scale(0.04);
	}
	99.9% {
		height: 0;
		padding-bottom: 100%;
		border-radius: 100%;
	}
	100% {
		transform: scale(2);
		height: 100%;
		padding-bottom: 0;
		border-radius: 0;
	}
}

@media (max-height: 750px) {
	.main-nav{
		&__logo{margin-bottom: 35px;}
	}
}

@media (max-width: 767px) {
	.main-nav{
		text-align: left;

		&__logo{display: none;}

		&__title{
			display: block;
			width: 100%;
			@include font(normal, 600, rem(20px), 1, $color-green);
			text-transform: uppercase;
			text-align: center;
			position: relative;
			margin-bottom: 30px;
			opacity: 0;
			transition: opacity 0.3s ease-out 0.6s;
		}

		&__title::before{
			content: '';
			display: inline-block;
			vertical-align: top;
			width: 17px;
			height: 21px;
			background: url(/assets/img/green-arrow.svg) no-repeat center;
			background-size: contain;
			position: absolute;
			@include top-center;
			left: 0;
		}

		&__info{
			align-items: flex-start;
			padding: 23px 30px;
		}

		&__close{top: 22px;}

		.header-social{
			display: inline-flex;
			margin-top: 32px;
			margin-bottom: 30px;
			opacity: 0;
			transform: translate3d(0, 0, 0);
			transition: transform 0.2s ease-out, opacity 0.2s ease-out;
			transition-delay: 0.6s;
		}
	}

	.main-menu{
		&__link{
			font-size: rem(19.5px);
			letter-spacing: 0.2px;
		}

		&__item:not(:last-child){margin-bottom: 17px;}
	}

	body.open-menu{
		.main-nav{
			&__title,
			.header-social{
				opacity: 1;
			}

			.header-social{transform: translate3d(0,36px,0);}
		}
	}
}