/*-------------- present-work -----------------*/
.present-work-wrap{margin: 78px 0;}

.present-work{
	&__content{
		border: 7px solid $color-gold;
		padding: 40px 25px 28px;
		position: relative;
	}

	&__img{
		height: calc(100% + 100px);
		position: absolute;
		top: -38px;
		left: -267px;

		img{max-height: 100%;}
	}

	&__info{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		position: relative;
		z-index: 2;
	}

	&__title{
		@include font(normal, normal, rem(35px), 1.15, $color-brown);
		text-transform: uppercase;
		letter-spacing: 0.4px;
		margin-left: 22.5%;
		margin-bottom: 65px;
	}

	&__more{
		@include font(normal, bold, rem(18px), 1.2, $color-brown-light);
		text-align: right;
		margin-top: 20px;
		padding-right: 17px;
	}

	&__btn{
		text-align: right;
		margin-top: 50px;
	}

	&__slider{
		display: flex;
		justify-content: flex-end;
	}
}

.work-slider{
	display: none;
	width: 380px;
	margin: 0 40px;
	
	&.slick-initialized{display: block;}

	&__item{
		max-width: 190px;
		padding: 0 15px;
	}

	.slick-arrow{
		display: inline-block;
		vertical-align: top;
		width: 20px;
		height: 24px;
		position: absolute;
		@include top-center;
		font-size: 0;
		border: 0;
		outline: 0;
		padding: 0;
		box-shadow: none;
		cursor: pointer;
		z-index: 2;
	}

	.slick-prev{background: url(/assets/img/slider-arr-left.svg) no-repeat center; left: -28px;}
	.slick-next{background: url(/assets/img/slider-arr-right.svg) no-repeat center; right: -28px;}
	.slick-prev:hover{background: url(/assets/img/slider-arr-left-active.svg) no-repeat center;}
	.slick-next:hover{background: url(/assets/img/slider-arr-right-active.svg) no-repeat center;}
}

@media (max-width: 991px) {
	.present-work-wrap{margin-bottom: 50px;}
}

@media (max-width: 767px) {
	.present-work-wrap{
		margin-bottom: 50px;
		margin-top: 7px;
	}

	.present-work{
		&__img{
			margin: -3px -28px 0;
			height: auto;
			position: static;

			img{width: 100%;}
		}

		&__content-wrap{
			border: 3px solid $color-gold;
			padding-bottom: 20px;
		}

		&__content{
			padding: 0 10px 10px;
			border: 0;
		}

		&__title{
			font-size: rem(27px);
			letter-spacing: 0.2px;
			line-height: 1.1;
			text-transform: none;
			margin-left: 0;
			margin-top: 77px;
			margin-bottom: 96px;
		}

		&__slider{
			justify-content: center;
			margin-left: -5px;
			margin-right: -5px;
		}

		&__more{margin: 40px auto 0;}

		&__btn{
			text-align: center;
			margin-top: 42px;
		}
	}

	.work-slider{
		width: 300px;
		max-width: 100%;
		margin: 0;

		&__item{padding: 0 5px;}

		.slick-arrow{
			top: auto;
			bottom: -62px;
			transform: none;
		}

		.slick-next{right: 0;}
		.slick-prev{left: 0;}

	}
}