/*-------------- prices -----------------*/
.price-wrap{
	margin-top: 220px;
}

.prices{
	&__title{
		@include font(normal, 300, rem(40px), 1, $color-brown);
		letter-spacing: 0.3px;
		text-transform: uppercase;
		margin-bottom: 37px;
	}
}

.prices-table{
	display: table;
	width: 100%;
	margin-bottom: 45px;

	&__head,
	&__row{
		display: table-row;
	}

	&__title,
	&__item{
		display: table-cell;
	}

	&__title{
		@include font(normal, 600, rem(18px), 1, $color-brown-light);
		text-align: center;
		padding: 5px 10px;
		border-top: 2px solid $color-brown-light;
		border-bottom: 2px solid $color-brown-light;
		vertical-align: middle;
	}

	&__title:first-child{border-left: 2px solid $color-brown-light;}
	&__title:last-child{border-right: 2px solid $color-brown-light;}

	&__item{
		vertical-align: bottom;
		text-align: center;
		padding: 20px 0 0;
	}

	&__item:first-child{text-align: left;}

	&__name{
		max-width: 275px;
		display: inline-block;
		@include font(normal, normal, rem(18px), 1.15, $color-brown);
		letter-spacing: 0.2px;
		padding-right: 20px;
		position: relative;
		background: #fff;
	}

	&__name::after{
		content: '';
		display: inline-block;
		width: 150%;
		height: 1px;
		border-bottom: 2px dotted #000;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
	}

	&__price{
		display: inline-block;
		@include font(normal, 600, rem(30px), 1, $color-brown);
		white-space: nowrap;
		padding: 0 5px;
		background: #fff;
	}

	&__currency{font-size: rem(18px);}

	&__old-price{
		display: inline-block;
		@include font(normal, 600, rem(18px), 1, $color-brown);
		text-decoration: line-through;
		padding: 0 10px;
		white-space: nowrap;
	}
}

.form-sale-wrap{
	padding: 23px 0 28px;

	&__img{
		position: absolute;
		bottom: -28px;
		right: 0;
	}
}

.form-sale{
	&__title{
		@include font(normal, bold, rem(42px), 1, #fff);
		letter-spacing: 0.3px;
		margin-bottom: 3px;
	}

	&__text{
		@include font(normal, 300, rem(29.5px), 1.2, #fff);
		letter-spacing: 0.3px;
	}

	&__top{margin-bottom: 40px;}

	&__content{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__field{
		width: calc(50% - 44px);
		margin-bottom: 20px;
	}

	&__label{
		@include font(normal, normal, rem(18px), 1.2, #fff);
		margin-bottom: 10px;
	}

	input[type="text"],
	input[type="tel"],
	input[type="email"],
	input[type="date"],
	input[type="password"],
	textarea{
		height: rem(37px);
		width: 100%;
		outline: none;
		border: 0;
		border-radius: 0;
		font-family: $font-site;
		@include font(normal, normal, 1rem, rem(35px), #000);
		padding: 0 15px;
		margin: 0;
		background: #fff;
		box-shadow: inset 0.588px 0.809px 0px 0px rgba(86, 59, 44, 0.63);
		transition: all 0.3s ease 0s;
	}

	input[type="text"]:focus,
	input[type="tel"]:focus,
	input[type="email"]:focus,
	input[type="date"]:focus,
	input[type="password"]:focus,
	textarea:focus{
		box-shadow: none;
		box-shadow: inset 0.588px 0.809px 0px 0px rgba(86, 59, 44, 0.63), 0px 0px 0px 1px $color-brown;
	}

	textarea{
		height: 120px;
		line-height: 1.2;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	input[type="text"]::placeholder,
	input[type="tel"]::placeholder,
	input[type="email"]::placeholder,
	input[type="date"]::placeholder,
	input[type="password"]::placeholder,
	textarea::placeholder{
		color: #7a7a7a;
		opacity: 1;
	}

	&__bottom{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 10px;
	}

	&__polit,
	&__bottom .btn{
		width: calc(50% - 44px);
	}

	&__sale{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 204px;
		height: 204px;
		border-radius: 50%;
		background: linear-gradient(135deg, rgba(239,237,234,1) 0%, rgba(255,255,255,1) 100%);
		font-family: $font-geometria;
		@include font(normal, bold, rem(106px), 1.2, #b8b8b8);
		padding-bottom: 17px;
		position: absolute;
		top: -56px;
		left: 100%;
		margin-left: -24px;
	}

	&__percent{font-size: rem(64px);}
}

@media (max-width: 1239px) {
	.form-sale-wrap{
		margin-top: 50px;
		&__img{display: none;}
	}

	.form-sale{
		&__bottom{
			.btn_big,
			button.btn_big,
			input[type="submit"].btn_big{
				max-width: 260px;
			}
		}

		&__sale{
			width: 140px;
			height: 140px;
			font-size: rem(72px);
			left: auto;
			right: 0;
			top: -100px;
		}

		&__percent{font-size: rem(36px);}
	}
}

@media (max-width: 991px) {
	.price-wrap{margin-top: 80px;}
}