/*-------------- rating -----------------*/
.rating{
	display: inline-block;
	vertical-align: top;
	width: 100px;
	height: 20px;
	background: url(/assets/img/star-stroke.svg) repeat-x 0 0;
	position: relative;

	&__content{
		display: block;
		width: 0;
		height: 100%;
		background: url(/assets/img/star.svg) repeat-x 0 0;
		position: absolute;
		top: 0;
		left: 0;
	}
}