/*-------------- slick -----------------*/
.slick-dots{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	@include reset-list;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;

	li{@include reset-list;}

	button{
		display: inline-block;
		vertical-align: top;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background: #e3e6db;
		padding: 0;
		margin: 15px;
		border: 0;
		outline: 0;
		box-shadow: none;
		font-size: 0;
		transition: all 0.3s ease 0s;
		cursor: pointer;
	}

	.slick-active button,
	button:hover{
		background: #acafb1;
	}
}

@media (max-width: 767px) {
	.slick-dots{
		button{
			width: 25px;
			height: 25px;
			margin: 12px;
		}
	}
}