/*-------------- team -----------------*/
.team-wrap{
	margin: 154px 0;
	overflow: hidden;
}

.team{
	&__title{
		@include font(normal, 300, rem(35px), 1.15, $color-green);
		letter-spacing: 0.3px;
		text-transform: uppercase;
		margin-bottom: 58px;
	}

	&__btn{
		text-align: right;
		margin-top: -92px;
	}
}

.team-slider{
	display: none;
	max-width: 2085px;
	padding-bottom: 150px;
	margin: 0 auto;
	margin-left: -15px;
	margin-right: -15px;

	&.slick-initialized{display: block;}

	.slick-slide{margin: 0 15px;}

	&__content{
		width: 100%;
		background: #fff;
		margin-top: -80px;
		padding: 24px 32px;
		@include font(normal, normal, rem(16px), 1.125, $color-text);
		letter-spacing: 0.2px;
		opacity: 0;
		position: relative;
		transition: all 0.6s ease 0s;
	}

	&__name{
		@include font(normal, 500, rem(36px), 1, #939598);
		letter-spacing: 0.2px;
		padding-bottom: 24px;
		margin-bottom: 32px;
		position: relative;
	}

	&__name::after{
		content: '';
		display: inline-block;
		width: 87px;
		height: 1px;
		background: #aaadaf;
		position: absolute;
		bottom: 0;
		left: 0;
	}

	&__post,
	&__text,
	&__exper{
		margin-bottom: 18px;
	}

	&__more{
		@include font(normal, bold, rem(18px), 1, $color-brown-light);
		margin-top: 35px;
	}

	.slick-current &__content{
		margin-left: 80px;
		opacity: 1;
	}

	.slick-dots{
		max-width: 550px;
		margin: 0 auto;
		z-index: 2;
	}
}

@media (max-width: 1389px) {
	.team{
		&__btn{margin-right: -30px;}
	}
}

@media (max-width: 1239px) {
	.team{
		&__btn{
			margin-right: 0;
			margin-top: 20px;
			text-align: center;
		}
	}
}

@media (max-width: 991px) {
	.team-wrap{margin: 80px 0;}

	.team-slider{
		&__content{
			margin-top: -40px;
			margin-left: 40px;
		}

		&__name{font-size: rem(28px);}
		&__content{padding: 20px;}
	}

	.slick-current .team-slider__content{margin-left: 40px;}
}

@media (max-width: 767px) {
	.team-wrap{
		margin-top: 100px;
		margin-bottom: 45px;
	}

	.team{
		&__title{
			font-size: rem(27px);
			line-height: 1.1;
			text-transform: none;
			margin-bottom: 38px;
		}
	}

	.team-slider{
		padding-bottom: 132px;

		&__content{
			width: calc(100% - 15px);
			padding: 14px 15px 14px 34px;
		}

		&__name{
			font-size: rem(27px);
			padding-bottom: 15px;
			margin-bottom: 26px;
		}

		.slick-dots{max-width: calc(100% - 60px);}
	}

	.slick-current .team-slider__content{margin-left: 15px;}
}