extends ../layout/main

block variables
	- var title = 'Содержание';
	- 
		var pagelist = [
			{href: 'main.html',name:'Главная'},
			{href: 'tipografika.html',name:'Типографика'},
		];

block content
	section.about-service
		.container
			.row
				.col-12
					.about-service__top
						.about-service__img
							img(src="/assets/img/woman-lifting.jpg", alt="")

						.about-service__info
							.about-service__title Безоперационное лазерное омоложение
								| 
								span.about-service__title-accent Fotona 4D

							.about-service__text глубокий лифтинг без наркоза, разрезов и боли

		.container
			.row
				.col-10.offset-1
					.about-service__content
						.about-service__desc
							ul.list-design
								li Моментальный видимый эффект уже после первой процедуры
								li Минимальный период реабилитации
								li Без сезонных ограничений, в любое время года
								li Комфортная процедура без анестезии


						a(href="#").btn.btn_green.btn_big Записаться
							br
							|на консультацию
