extends ../layout/main

block variables
	- var title = 'Главная';
	- 
		var pagelist = [
			{href: 'main.html',name:'Главная'},
			{href: 'tipografika.html',name:'Типографика'},
		];

block content
	section.about-service
		.container
			.row
				.col-12
					.about-service__top
						.about-service__img
							img(src="/assets/img/woman-lifting.jpg", alt="")

						.about-service__info
							.about-service__title Безоперационное лазерное омоложение
								| 
								span.about-service__title-accent Fotona 4D

							.about-service__text глубокий лифтинг без наркоза, разрезов и боли

		.container
			.row
				.col-10.offset-1
					.about-service__content
						.about-service__desc
							ul.list-design
								li Моментальный видимый эффект уже после первой процедуры
								li Минимальный период реабилитации
								li Без сезонных ограничений, в любое время года
								li Комфортная процедура без анестезии


						a(href="#").btn.btn_green.btn_big Записаться
							br
							|на консультацию

	section.desc-service
		.container
			.row
				.col-8.offset-1
					.desc-service__title Многоуровневое дермальное омоложение <b>Fotona 4D</b> — инновационная методика для впечатляющих результатов
					.desc-service__text Лазерное омоложение Fotona 4D (Fotona Technology) – это запатентованный безболезненный метод фототермической реконструкции кожи, признанный во всем мире одним из самых комфортных, безопасных и эффективных методов омоложения. Это уникальная для России технология, которая показывает гарантированный результат и при этом не требует подготовки и восстановительного периода. В рамках одной процедуры выполняется комплекс из 4-х запатентованных anti-aging технологий, восстанавливающих поверхностные, средние и глубокие структуры кожи. Реконструкция тканей лица проводится одновременно с внутренней и внешней стороны, поэтому женщинам дается уникальная возможность получить эффект лифтинга и помолодеть быстро, всего за 1 сеанс.

		.desc-service__bg.d-md-none
			img(src="/assets/img/bg-girl.png", alt="")

		.desc-service-adv
			.container
				.row
					.col-10.offset-1
						.desc-service-adv__content
							-
								var list=[
									{img:'face1.svg', text:'Накопительный эффект за счет запуска выработки собственного коллагена'},
									{img:'face2.svg', text:'Решение широкого спектра проблем за 1 сеанс'},
									{img:'face3.svg', text:'Результат сравним с хирургической подтяжкой лица'},
									{img:'face4.svg', text:'Отсутствие осложнений и побочных эффектов'},
								]

							each item in list
								.desc-service-adv__item
									.desc-service-adv__icon
										img(src="/assets/img/"+item.img, alt="")
									.desc-service-adv__text= item.text

	section.laser-system
		.container
			.row
				.col-11
					.laser-system__content
						.laser-system__img
							img(src="/assets/img/lazer-system.jpg", alt="")

						.laser-system__info
							.laser-system__main
								.laser-system__title Высокотехнологичная лазерная система Fotona SP Dynamis 
								.laser-system__text — это революционное достижение в области лазерных технологий, уникальное оборудование, совмещающее применение эрбиевого и неодимового лазера (Er:YAG и Nd:YAG). Оборудование имеет все необходимые документы, и сертифицировано для применения в России, Штатах, Японии и государствах Европы.

							.laser-system__desc
								p В сравнении с аппаратами прошлых поколений, инновационный лазер Fotona SP Dynamis имеет увеличенную волну с уникальной формой. Лазерная волна способна с высокой точностью воздействовать как на поверхностные, так и на глубокие слои кожи и слизистых оболочек, прогревая и активизируя выработку специфических белков – коллагена и эластина, способствуя обновлению клеток и тканей.
								p Данный функционал не доступен ни в одной другой модели сторонних производителей, поэтому
									| 
									span.laser-system__accent процедура лазерного омоложения Fotona уникальна и не имеет аналогов.

						.laser-system__autor-wrap
							.laser-system__autor
								img(src="/assets/img/mary.jpg", alt="")

							.btn.btn_border.btn_green.btn_big Записаться
								br
								|на консультацию

	section.about-procedures-wrap
		.container
			.row
				.col-8.offset-2
					.about-procedures
						.about-procedures__info
							.about-procedures__title Всего несколько процедур отделяют Вас от молодой и красивой кожи
							.about-procedures__text В рамках одного сеанса проводится комбинация из 4-х лазерных процедур, проводимых последовательно друг за другом

						.slider-procedure.js-slider-procedure
							.slider-procedure__item
								.video-block(style="background-image: url(/assets/img/bg-procedure.jpg)")
									a(data-fancybox, href="https://www.youtube.com/watch?v=_sI_Ps7JSEk").video-block__play

								.slider-procedure__content
									.slider-procedure__title 1 Процедура
									.slider-procedure__text
										p Процедура <b>SMOOTH-lifting</b> — лифтинг изнутри. Революционная технология подтяжки со стороны слизистой ротовой полости. Проводится перорально с целью подтяжки ложных и истинных связок лица, носогубной складки и области щек изнутри.
										p В составе подслизистого слоя содержится теплоемкая межтканевая жидкость, начинающая нагреваться при контактах с лазером и передавать тепло в кожно-мышечные слои. В результате запускаются процессы регенерации и синтеза коллагеновых волокон в организме.
										p <b>Эффект:</b> разглаживание морщин и восполнение объема нижней трети лица (результат сопоставим с эффектом от введения дермальных филлеров).

									.slider-procedure__more
										a(href="#") Подробнее о враче

							.slider-procedure__item
								a(data-fancybox, href="https://youtu.be/lkQ0LDx9jHs", style="background-image: url(/assets/img/bg-procedure.jpg)").video-block
									span.video-block__play

								.slider-procedure__content
									.slider-procedure__title 2 Процедура
									.slider-procedure__text
										p В составе подслизистого слоя содержится теплоемкая межтканевая жидкость, начинающая нагреваться при контактах с лазером и передавать тепло в кожно-мышечные слои. В результате запускаются процессы регенерации и синтеза коллагеновых волокон в организме.
										p <b>Эффект:</b> разглаживание морщин и восполнение объема нижней трети лица (результат сопоставим с эффектом от введения дермальных филлеров).

									.slider-procedure__more
										a(href="#") Подробнее о враче

							.slider-procedure__item
								a(data-fancybox, href="https://youtu.be/d9MaR0V5N2c", style="background-image: url(/assets/img/bg-procedure.jpg)").video-block
									span.video-block__play

								.slider-procedure__content
									.slider-procedure__title 3 Процедура
									.slider-procedure__text
										p Процедура <b>SMOOTH-lifting</b> — лифтинг изнутри. Революционная технология подтяжки со стороны слизистой ротовой полости. Проводится перорально с целью подтяжки ложных и истинных связок лица, носогубной складки и области щек изнутри.

									.slider-procedure__more
										a(href="#") Подробнее о враче

							.slider-procedure__item
								a(data-fancybox, href="https://youtu.be/z8_PAuaQ9SE", style="background-image: url(/assets/img/bg-procedure.jpg)").video-block
									span.video-block__play

								.slider-procedure__content
									.slider-procedure__title 4 Процедура
									.slider-procedure__text
										p Процедура <b>SMOOTH-lifting</b> — лифтинг изнутри. Революционная технология подтяжки со стороны слизистой ротовой полости. Проводится перорально с целью подтяжки ложных и истинных связок лица, носогубной складки и области щек изнутри.
										p <b>Эффект:</b> разглаживание морщин и восполнение объема нижней трети лица (результат сопоставим с эффектом от введения дермальных филлеров).

									.slider-procedure__more
										a(href="#") Подробнее о враче

	section.result-wrap
		.container
			.row
				.col-10.offset-1
					.result-wrap__title Результат заметен уже после первой процедуры!

					.result-list
						-
							var list=[
								{img:'result1.jpg', text:'Кожа приобретает здоровое естественное сияние'},
								{img:'result2.jpg', text:'Уходят брыли и второй подбородок'},
								{img:'result3.jpg', text:'Овал и контуры лица становится более четкими'},
								{img:'result4.jpg', text:'Устраняются пигментация, темные круги и мешки под глазами'},
								{img:'result5.jpg', text:'Кожа становится более плотной и упругой'},
								{img:'result6.jpg', text:'Разглаживаются мимические и возрастные морщины'},
							]

						each item in list
							.result-list__item
								.result-list__content
									.result-list__img
										img(src="/assets/img/"+item.img, alt="")
									.result-list__text= item.text