//Path
$path-img: "../img";
$path-fonts: "../fonts";

//Font
$font-site: 'Raleway', Arial, sans-serif;
$font-geometria: 'Geometria', Arial, sans-serif;

// Site
$color-text: #000;
$color-green: #325d57;
$color-brown: #563b2c;
$color-brown-light: #d5b98b;
$color-gold: #ead9bf;

// Grid
$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 992px,
  lg: 1240px,
  xl: 1390px
) !default;

$container-max-widths: (
  sm: 720px,
  md: 960px,
  lg: 1200px,
  xl: 1390px
) !default;
