.footer{
	background: $color-green;
	padding: 46px 0 60px;
	@include font(normal, 300, rem(18px), 1.2, $color-gold);

	&__logo{
		text-align: center;
		margin: 34px 0 48px;

		img{width: 160px;}
	}

	&__bottom{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 20px;
	}

	&__copyright{padding-right: 15px;}

	&__contacts{
		display: inline-flex;
		align-items: center;
		padding-left: 15px;
	}

	&__phone{
		font-family: $font-geometria;
		@include font(normal, 300, rem(18px), 1, $color-gold);
		margin-right: 15px;
		transition: all 0.2s ease 0s;

		a{
			color: $color-gold;
			text-decoration: none;
			transition: all 0.2s ease 0s;
		}

		a:hover{color: $color-brown;}

		.icon{display: none;}
	}
}

.footer-menu{
	&,
	&__item{
		@include reset-list;
	}

	&{
		display: flex;
		flex-wrap: wrap;
		margin-left: -15px;
		margin-right: -15px;
	}

	&__item{
		margin: 0 15px 15px;
	}

	&__link{
		@include font(normal, 300, rem(17px), 1.2, $color-gold);
		text-decoration: none;
	}

	&__link:hover{text-decoration: underline;}
}

.footer-social{
	display: inline-flex;
	align-items: center;
	vertical-align: top;

	&__item:not(:last-child){margin-right: 15px;}

	.icon{
		vertical-align: top;
		fill: $color-gold;
		transition: all 0.3s ease 0s;
	}

	&__link:hover .icon{fill: $color-brown;}
}

@media (max-width: 1189px) {
	.footer{
		&__phone{
			font-size: 0;
			.icon{
				display: inline-block;
				vertical-align: middle;
				fill: $color-gold;
				margin-top: 2px;
				transition: all 0.3s ease 0s;
			}

			.icon:hover{fill: $color-brown;}
		}
	}
}

@media (max-width: 767px) {
	.footer{
		text-align: center;
		padding-top: 27px;

		&__bottom{
			display: flex;
			flex-direction: column-reverse;
		}

		&__copyright{padding-right: 0;}

		&__logo{
			margin: 22px 0 40px;

			img{
				width: 125px;
			}
		}

		&__contacts{
			display: flex;
			flex-direction: column-reverse;
			padding-left: 0;
		}

		&__phone{
			font-size: rem(18px);
			margin-right: 0;
			margin-bottom: 47px;

			.icon{display: none;}
		}

		&__develop{margin-bottom: 46px;}
	}

	.footer-menu{
		display: flex;
		flex-direction: column;
		align-items: center;

		&__item{margin-bottom: 21px;}
		&__link{font-size: rem(18px);}
	}

	.footer-social{margin-bottom: 33px;}
}