.header{
	height: 100vh;
	min-height: 100vh;
	background: url(#{$path-img}/bg-woman.jpg) no-repeat center;
	background-size: cover;
}

.header-content{
	height: 100vh;
	position: relative;
	padding: 80px 0 40px;
	transition: 0.2s ease-out;

	&__logo-small{display: none;}
	
	&__info{
		max-width: 200px;
		margin: 0 auto;
	}

	&__slogan{
		@include font(normal, normal, rem(23px), 1, $color-green);
		margin-top: 80px;
		margin-left: 20px;
	}

	&__phone{
		font-family: $font-geometria;
		@include font(normal, bold, rem(20px), 1, $color-green);
		margin-right: 15px;
		transition: all 0.2s ease 0s;

		a{
			color: $color-green;
			text-decoration: none;
			transition: all 0.2s ease 0s;
		}

		a:hover{color: $color-brown;}
	}

	&__contacts{
		display: flex;
		align-items: flex-start;
		justify-content: flex-end;
	}

	&__feedback{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 88px;
		height: 88px;
		background: #fff;
		border-radius: 50%;
		@include font(normal, normal, rem(16px), 1.2, $color-green);
		text-decoration: none;
		text-align: center;
		position: absolute;
		bottom: 40px;
		right: 0;
		transition: all 0.2s ease 0s;
	}

	&__feedback:hover{
		background: $color-green;
		color: #fff;
	}
}

.header-social{
	display: inline-flex;
	align-items: center;
	vertical-align: top;

	&__item:not(:last-child){margin-right: 15px;}

	.icon{
		fill: $color-green;
		transition: all 0.3s ease 0s;
	}

	&__link:hover .icon{fill: $color-brown;}
}