.header{
	height: 100vh;
	// min-height: 100vh;
	// height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
	height: calc(var(--vh, 1vh) * 100);
	background: url(#{$path-img}/bg-woman.jpg) no-repeat calc(50% - 320px) 50%;
	background-size: cover;
}

.header-content-wrap{
	&.fixed{
		width: 100%;
		background: #fff;
		border-bottom: 1px solid #e3e6db;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;

		.header-content{
			height: auto;
			min-width: 80px;
			padding: 26px 0;

			&__feedback,
			&__slogan,
			&__logo-big{
				display: none;
			}

			&__logo-small{
				display: inline-block;
				width: 123px;
			}

			&__phone{font-weight: 300;}

			&__info{
				max-width: auto;
				text-align: center;
			}
		}
	}
}

.header-content{
	height: 100vh;
	position: relative;
	padding: 80px 0 40px;
	transition: 0.2s ease-out;

	&__logo-small,
	&__logo-mob{
		display: none;
	}
	
	&__info{
		max-width: 200px;
		margin: 0 auto;
	}

	&__slogan{
		@include font(normal, normal, rem(23px), 1, $color-green);
		margin-top: 80px;
		margin-left: 20px;
	}

	&__phone{
		font-family: $font-geometria;
		@include font(normal, bold, rem(20px), 1, $color-green);
		margin-right: 15px;
		transition: all 0.2s ease 0s;

		.icon{display: none;}

		a{
			color: $color-green;
			text-decoration: none;
			transition: all 0.2s ease 0s;
		}

		a:hover{color: $color-brown;}
	}

	&__contacts{
		display: flex;
		align-items: flex-start;
		justify-content: flex-end;
	}

	&__feedback{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 88px;
		height: 88px;
		background: #fff;
		border-radius: 50%;
		@include font(normal, normal, rem(16px), 1.2, $color-green);
		text-decoration: none;
		text-align: center;
		position: absolute;
		bottom: 40px;
		right: 0;
		transition: all 0.2s ease 0s;

		.icon{display: none;}
	}

	&__feedback:hover{
		background: $color-green;
		color: #fff;
	}
}

.header-social{
	display: inline-flex;
	align-items: center;
	vertical-align: top;

	&__item:not(:last-child){margin-right: 15px;}

	.icon{
		fill: $color-green;
		transition: all 0.3s ease 0s;
	}

	&__link:hover .icon{fill: $color-brown;}
}

@media (max-width: 1239px) {
	.header-content{
		&__phone{
			font-size: 0;
			.icon{
				display: inline-block;
				vertical-align: middle;
				fill: $color-green;
				transition: all 0.3s ease 0s;
			}

			.icon:hover{fill: $color-brown;}
		}
	}
}

@media (max-width: 767px) {
	.header-social{display: none;}

	.header-content{
		padding-top: 17px;
		padding-bottom: 20px;

		&__menu{text-align: right;}

		&__contacts{
			position: absolute;
		}

		&__logo-big{display: none;}
		&__logo-mob{
			display: block;
			width: 125px;
		}

		&__phone{
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 56px;
			height: 56px;
			border-radius: 50%;
			background: #fff;
			position: absolute;
			right: 0;
			bottom: 140px;
			margin: 0;

			.icon{
				fill: transparent;
				stroke: $color-green;
			}
		}

		&__phone:hover .icon{fill: $color-green;}

		&__feedback{
			width: 56px;
			height: 56px;
			font-size: 0;
			background: $color-green;
			bottom: 74px;

			.icon{
				display: inline-block;
				vertical-align: top;
				fill: #fff;
				transition: all 0.3s ease 0s;
			}
		}

		&__feedback:hover{
			background: #fff;
			.icon{fill: $color-green;}
		}

		&__slogan{
			font-size: rem(20px);
			line-height: 1.15;
			letter-spacing: 0.3px;
			margin-top: 112px;
			margin-left: 0;
		}
	}
	
	.header{
		.ic-hamburger-wrap{
			justify-content: flex-end;
			.ic-hamburger{margin-right: 0;}
		}

		.ic-hamburger-label{display: none;}
	}

	.header-content-wrap{
		&.fixed{
			.header-content{
				padding: 16px 0;

				&__logo-big,
				&__logo-mob{
					display: none;
				}

				&__logo{text-align: left;}
				&__logo-small{width: 110px;}
			}
		}
	}
}

@media (max-height: 800px) {
	.header{background-position: calc(50% - 18vh) 50%;}
}

@media (max-height: 700px) {
	.header{background-position: calc(50% - 18vh) 50%;}
}

@media (max-height: 580px) {
	.header{background-position: 50%;}
}

@media (max-width: 991px) {
	.header{background-position:  50%;}
}