footer.footer
	.container
		.row
			.col-sm-10.offset-sm-1
				-
					var list=['Уникальная технология', 'Этапы процедуры', 'Примеры работ', 'Отзывы', 'Стоимость', 'Врачи', 'FAQ', ' О компании', 'Контакты']
				ul.footer-menu
					each item in list
						li.footer-menu__item
							a(href="#").footer-menu__link= item

				.footer__logo
					img(src="/assets/img/logo-gold.svg", alt="").d-none.d-sm-inline-block
					img(src="/assets/img/logo-mob-gold.svg", alt="").d-sm-none

				.footer__develop.d-none.d-sm-block Разработка сайта 
					b Plan The Best

				.footer__bottom
					.footer__copyright ©2020 SOLA | Клиника эстетической медицины и косметологии.

					.footer__develop.d-sm-none Разработка сайта 
						b Plan The Best

					.footer__contacts
						.footer__phone
							a(href="tel:+74958774531").footer__link +7 (495) 877-45-31
								+svg('ic-phone','ic-phone', '18', '18')

						.footer-social
							.footer-social__item
								a(href="#").footer-social__link
									+svg('ic-intagram','ic-intagram', '20', '20')
							.footer-social__item
								a(href="#").footer-social__link
									+svg('ic-facebook','ic-facebook', '20', '20')

<!--Форма обратной связи-->
#form-callback(style='display: none;')
	.popup-callback
		form.form-site
			.form-site__title Поможем записаться на прием к нужному специалисту

			.form-site__content
				.form-site__field
					.form-site__input
						input(type="text", placeholder="Имя")

				.form-site__field
					.form-site__input
						input(type="text", placeholder="Ваш номер", class="js-phone")
			
			.form-site__btn
				button.btn.btn_green(type="submit") Записаться к врачу

			.form-site__polit
				.input-check
					input#checkbox10(type='checkbox', checked='checked')
					label.input-check__label(for='checkbox10')
						span.input-check__mark
							//- +svg('ic-check','ic-check', '21', '16')
							
						span.input-check__text Нажимая кнопку, Вы соглашаетесь с обработкой
							| 
							a(href="#") персональных данныx