header.header
	.header__bg
	.header-content-wrap#header-content-wrap
		.container
			.row
				.col-xl-10.offset-xl-1
					.header-content
						.row
							.col-6.col-sm-4.order-3.order-sm-0
								.header-content__menu
									.ic-hamburger-wrap.js-open-menu
										.ic-hamburger
											span

										.ic-hamburger-label Меню

							.col-6.col-sm-4
								.header-content__info
									.header-content__logo
										img(src="/assets/img/logo.svg", alt="").header-content__logo-big
										img(src="/assets/img/logo-mob.svg", alt="").header-content__logo-mob
										img(src="/assets/img/logo-hor.svg", alt="").header-content__logo-small

									.header-content__slogan Клиника эстетической медицины и косметологии

							.col-4.d-none.d-sm-block
								.header-content__contacts
									.header-content__phone
										a(href="tel:+74958774531").header-content__link +7 (495) 877-45-31
											+svg('ic-phone','ic-phone', '25', '25')

									.header-social
										.header-social__item
											a(href="#").header-social__link
												+svg('ic-intagram','ic-intagram', '27', '27')
										.header-social__item
											a(href="#").header-social__link
												+svg('ic-facebook','ic-facebook', '27', '27')


						a(data-fancybox='' data-src='#form-callback' href='javascript:;').header-content__feedback Заказать звонок
							+svg('ic-mail-stroke','ic-mail-stroke', '34', '26')

						a(href="tel:+74958774531").header-content__phone.d-sm-none
							+svg('ic-phone-stroke','ic-phone-stroke ic-stroke', '30', '30')

	nav.main-nav.js-main-nav
		.main-nav__content
			.container
				.row
					.col-sm-10.offset-sm-1
						.main-nav__info
							.main-nav__logo
								img(src="/assets/img/logo.svg", alt="")

							.main-nav__title Меню

							.main-nav__close
								.ic-hamburger.active.js-close-menu
									span

							ul.main-menu
								-
									var list=['Уникальная технология', 'Этапы процедуры', 'Примеры работ', 'Отзывы', 'Стоимость', 'Врачи', 'FAQ', 'О компании', 'Контакты']
								each item in list
									li.main-menu__item
										a(href="#").main-menu__link= item

							.header-social
								.header-social__item
									a(href="#").header-social__link
										+svg('ic-intagram','ic-intagram', '22', '22')
								.header-social__item
									a(href="#").header-social__link
										+svg('ic-facebook','ic-facebook', '22', '22')

#position-fixedmenu